<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
    <h1>메인 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <Link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.home__slider').bxSlider();
        });
    </script>

    <div class="home__slider">
        <div th:each="x : ${banners}" class="bxslider">
            <div>
                <a href="#"><img th:src="${x.urlFileName}"></a>
            </div>
        </div>

        <!--
        <div class="bxslider">
            <div>
                <a href="#"><img src="/files/2022/12/25/e0bc3daebb454fdfaa01a0c600ff31e5.jpg"></a>
            </div>
        </div>

        <div class="bxslider">
            <div>
                <a href="#"><img src="/files/2022/12/25/f63859a644a74da3bcc8e639760f6bce.jpg"></a>
            </div>
        </div>
        -->
    </div>

</body>
</html>
